<div class="page-header">
  <h1>Thinkering</h1>

  <p>What are you thinkering about?</p>
  <form class="form-inline" action="#">
    <div class="form-group">
      <label>
        In brief
        <input type="text" placeholder="Cats...">
      </label>
    </div>
    <div class="form-group">
      <label>
        More info at
        <input type="url" placeholder="http://google.com">
      </label>
    </div>
    <button type="submit " class="btn btn-default">Thunk it</button>
  </form>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="well">
      <p>I think about cats all the time. They're really great thought experiments!</p>
      <strong>More info:</strong> <a href="http://google.com">http://google.com</a>
    </div>
  </div>
</div>
