<!DOCTYPE html>
<html>
<head>
  <title>
    thinkering
  </title>

  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0" name="viewport">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <script src="/scripts/ring/pakyow.js"></script>

  <meta charset="UTF-8">
</head>

<body>
  <main class="container">
    <!-- @container -->
  </main>
</body>
</html>
